.workbook_callout {
  background-color: yellow;
  border: 2px solid black;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

.return_callout {
  background-color: #b6dde8;
  border: 2px solid black;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

.info_callout {
  background-color: #c2d69b;
  border: 2px solid black;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

.neave_note {
  text-align: justify;     /* Justify the text */
  font-family: serif;      /* Use a serif font */
  margin-top: 20px;       
  margin-bottom: 20px;       
  line-height: 1.6;        /* Adjust line height for readability */
  font-size: 16px;         /* Set a comfortable font size */
  color: #333;             /* Optional: Set a text color (default to dark grey) */
}

.deming_quote {
  color: #0000ff;
  font-weight: bold;
}

.thought {
  border: 2px solid #008000;
  padding: 10px;
  margin: 20px;
}

.thought h2 {
  color: #008000;
  text-align: center;
}

.thought_commentary {
  border: 2px solid #ff0000;
  padding: 10px;
  margin: 20px;
}

.thought_commentary h2 {
  color: #ff0000;
  text-align: center;
}

.thought_commentary .collapse {
  background-color: #ffe0e0;
  border: 2px solid #ff0000;
  padding: 10px;
  margin: 20px;
}

.cell {
  margin: 20px;
}

.activity_afterthought {
  font-style: italic;
  text-align: right;
  font-size: 16px;
}

.separator {
    height: 40px; /* Adjust the height of the separator here */
    background-color: #FF0000; /* Default background color red */
    border: 5px solid #000000;
    padding: 5px;
  }

.separator_white {
  background-color: #FFFFFF;
  height: 20px;
  padding: 5px;
}

.separator_blue {
  background-color: #0000ff;
  height: 10px;
}

.major_activity_title {
  background-color: #66ccff;
  border-radius: 30px; /* Rounded corners */
  border: 4px solid black; /* Thick black border */
  display: block;
  width: fit-content; /* Fit button width to content */
  margin-left: auto; /* Auto margin for horizontal centring */
  margin-right: auto; /* Auto margin for horizontal centring */
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for a bit of depth */
}

.major_activity_title h2 {
  margin: 2px 0px 2px 0px;
  padding: 10px 30px 10px 45px; /* Padding for the button */
  border: 0px;
  color: black;
  font-family: 'DM Serif Display'; /* Use Google Font "Luckiest Guy" */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Bold text */
  text-align: center;
}